<div class="row">
  <div class="col-12 col-lg-6 border mx-auto p-0 hover-shadow">
    <a
      rel="noopener noreferrer"
      href="//www.facebook.com/Asociaci%C3%B3n-Cultural-Silbo-Gomero-100514121959304/"
      target="_blank"
      class="text-body"
    >
      <div class="p-3">
        <div class="d-flex align-items-center">
          <img class="px-3 fb-logo" src="/img/fa-facebook-f.svg" alt="Logo de Facebook" />
          <div class="px-3">
            <h4 class="fb-color">¡Síguenos en Facebook!</h4>
            <p class="mb-0">
              Haz click aquí para ir a nuestro perfil, y síguenos para estar siempre a la última de
              las noticias de la Asociación Cultural Silbo Gomero.
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
